[submodule "research&study/research-1"]
	path = research&study/research-1
	url = git@github.com:jynychen/master-thesis-research-1.git
[submodule "research&study/research-2"]
	path = research&study/research-2
	url = git@github.com:jynychen/master-thesis-research-2.git
[submodule "experiment/performance-test"]
	path = experiment/performance-test
	url = git@github.com:jynychen/master-thesis-exp-perf.git
[submodule "experiment/MOS-LQO"]
	path = experiment/MOS-LQO
	url = git@github.com:jynychen/master-thesis-exp-MOS-LQO
